## 데이터로드

In [5]:
import pandas as pd
df=pd.read_csv('KFM_2nd_ORIGIN_KFMZEROSTT001_20201124000000.csv')
df.head()

,ZEROP11000,202008,11,서울특별시,1,55000,A,01110,곡물 및 기타 식량작물 재배업,21-Oct-2020 21:28:43,Unnamed: 10
0,ZEROP11000,202008,11,서울특별시,0,0,A,1121,채소작물 재배업,21-Oct-2020 21:28:43,NaN
1,ZEROP11000,202008,11,서울특별시,12,227000,A,1122,화훼작물 재배업,21-Oct-2020 21:28:43,NaN
2,ZEROP11000,202008,11,서울특별시,1,200000,A,1123,종자 및 묘목 생산업,21-Oct-2020 21:28:43,NaN
3,ZEROP11000,202008,11,서울특별시,0,0,A,1131,과실작물 재배업,21-Oct-2020 21:28:43,NaN
4,ZEROP11000,202008,11,서울특별시,12,195400,A,1132,음료용 및 향신용 작물 재배업,21-Oct-2020 21:28:43,NaN

---

## 전처리

### 마스킹 된 데이터 제거

In [6]:
df=df.iloc[:,:-1]
df.head()

,ZEROP11000,202008,11,서울특별시,1,55000,A,01110,곡물 및 기타 식량작물 재배업,21-Oct-2020 21:28:43
0,ZEROP11000,202008,11,서울특별시,0,0,A,1121,채소작물 재배업,21-Oct-2020 21:28:43
1,ZEROP11000,202008,11,서울특별시,12,227000,A,1122,화훼작물 재배업,21-Oct-2020 21:28:43
2,ZEROP11000,202008,11,서울특별시,1,200000,A,1123,종자 및 묘목 생산업,21-Oct-2020 21:28:43
3,ZEROP11000,202008,11,서울특별시,0,0,A,1131,과실작물 재배업,21-Oct-2020 21:28:43
4,ZEROP11000,202008,11,서울특별시,12,195400,A,1132,음료용 및 향신용 작물 재배업,21-Oct-2020 21:28:43

### 데이터 분포확인

In [7]:
df['202008'].value_counts()

202009    981
202008    978
Name: 202008, dtype: int64

In [8]:
df['11'].value_counts()

11    1959
Name: 11, dtype: int64

In [9]:
df['서울특별시'].value_counts()

서울특별시    1959
Name: 서울특별시, dtype: int64

In [12]:
df['21-Oct-2020 21:28:43'].value_counts()

21-Oct-2020 22:05:28    981
21-Oct-2020 21:28:43    978
Name: 21-Oct-2020 21:28:43, dtype: int64

### 서울시기준 데이터이고 광역시 코드도 모두같으므로, 제거해준다

In [10]:
df.drop(columns=['11','서울특별시'],inplace=True)
df.head()

,ZEROP11000,202008,1,55000,A,01110,곡물 및 기타 식량작물 재배업,21-Oct-2020 21:28:43
0,ZEROP11000,202008,0,0,A,1121,채소작물 재배업,21-Oct-2020 21:28:43
1,ZEROP11000,202008,12,227000,A,1122,화훼작물 재배업,21-Oct-2020 21:28:43
2,ZEROP11000,202008,1,200000,A,1123,종자 및 묘목 생산업,21-Oct-2020 21:28:43
3,ZEROP11000,202008,0,0,A,1131,과실작물 재배업,21-Oct-2020 21:28:43
4,ZEROP11000,202008,12,195400,A,1132,음료용 및 향신용 작물 재배업,21-Oct-2020 21:28:43

### 컬럼네임 변환해주기

In [14]:
column_list=['소상공인결제분류코드','년월','결제건수','합계금액','표준산업업종대분류코드','표준산업업종상세분류코드','표준산업업종상세분류명','소상공인시스템로그일시']
df.columns=column_list
df.head()

,소상공인결제분류코드,년월,결제건수,합계금액,표준산업업종대분류코드,표준산업업종상세분류코드,표준산업업종상세분류명,소상공인시스템로그일시
0,ZEROP11000,202008,0,0,A,1121,채소작물 재배업,21-Oct-2020 21:28:43
1,ZEROP11000,202008,12,227000,A,1122,화훼작물 재배업,21-Oct-2020 21:28:43
2,ZEROP11000,202008,1,200000,A,1123,종자 및 묘목 생산업,21-Oct-2020 21:28:43
3,ZEROP11000,202008,0,0,A,1131,과실작물 재배업,21-Oct-2020 21:28:43
4,ZEROP11000,202008,12,195400,A,1132,음료용 및 향신용 작물 재배업,21-Oct-2020 21:28:43

### 결측지확인

In [15]:
df.isnull().sum()

소상공인결제분류코드      0
년월              0
결제건수            0
합계금액            0
표준산업업종대분류코드     0
표준산업업종상세분류코드    0
표준산업업종상세분류명     0
소상공인시스템로그일시     0
dtype: int64