In [1]:
import pandas as pd
import numpy as np
df1=pd.read_csv('Data/02_Data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원코드        10000 non-null  object
 1   프로그램        10000 non-null  object
 2   상태          10000 non-null  object
 3   프로그램가격      10000 non-null  int64
 4   최종결제금액      10000 non-null  int64
 5   결제시각        10000 non-null  object
 6   결제유형        10000 non-null  object
 7   채널          10000 non-null  object
 8   보조식품가격      10000 non-null  int64
 9   보조식품(추가구매)  10000 non-null  object
dtypes: int64(3), object(7)
memory usage: 781.4+ KB

In [2]:
df1['프로그램'].value_counts(normalize=True)

체중감량 프로그램 (타입 A)    0.6672
체중감량 프로그램 (타입B)     0.3328
Name: 프로그램, dtype: float64

명목형변수  
체중감량 프로그램 (타입A ) => 체중 5kg감량 목표 성공
체중감량 프로그램 (타입B ) => 체중 5kg감량 목표 실패

In [5]:
df1=df1.assign(체중감량성공=np.where(df1['프로그램']=='체중감량 프로그램 (타입 A)', '1','0'))
df1['체중감량성공'].value_counts(normalize=True)

1    0.6672
0    0.3328
Name: 체중감량성공, dtype: float64

최종결제 금액과 체중감량프로그램 성공실패